<div class="padding" ng-controller="DirectoryController">

  <super-navbar>
    <super-navbar-title>
      Directory
    </super-navbar-title>
  </super-navbar>


  <super-navigate location="example#InvestmentFundTeam" ng-repeat="team in teams" data-params-id="{{team.name}}">
    <button class="button button-block button-positive">{{team.name}}</button>
  </super-navigate>
  



  <!-- <ul class="list">
    <li class="item">
      <super-navigate location="example#InvestmentFundTeam">
        <button class="button button-block button-positive"> Investment Fund </button>
      </super-navigate>
    </li>
    <li class="item">
      <p>Tech</p>
    </li>
    <li class="item">
      <p>Consulting</p>
    </li>
    <li class="item">
      <p>Exec</p>
    </li>
</ul> -->

</div>
