<div class="padding" ng-controller="EventsInfoController">

  <super-navbar>
    <super-navbar-title>
      {{eventName}}
    </super-navbar-title>
  </super-navbar>

 <super-navigate location="example#">
    <button class="button button-block button-positive"> Check In</button>
  </super-navigate>

  <div class="infoList">
    <ul class="list">
      <li class="item member" ng-repeat="event in events">
        <h2> {{event.info}} </h2>
      </li>


    </ul>
  </div>

<!--
<div>
	This is info about event 1.
</div>
-->
</div>
