<div class="padding" ng-controller="EventsInfoController">

  <super-navbar>
    <super-navbar-title>
      Event Information
    </super-navbar-title>
  </super-navbar>

 <!-- <super-navigate>
    <button class="button button-block button-positive"> Check In</button>
  </super-navigate> -->

  

  <!-- <div class="infoList">
    <ul class="list">
      <li class="item member" ng-repeat="event in events">
        <h2> {{event.info}} </h2>
      </li>


    </ul>
  </div>
   -->

  <!-- <div>{{event.info}}</div>
 -->

 <div>

 </div>
  <div class="card">
    <div class="item item-divider">
        Tamid Gala
      </div>
    <div class="item item-text-wrap">
      The end of the year Tamid Gala. All groups will be presenting on the work they have done this year. Fund will be doing stock pitches, followed by a demo from Tech and then project updates from Consulting. Food will be provided.
    </div>
  </div>

  <ul class="list">

    <li class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Check In
    </li>

  </ul>

<!--
<div>
	This is info about event 1.
</div>
-->
</div>
