<div class="padding" ng-controller="EventsController">

  <super-navbar>
    <super-navbar-title>
      Events
    </super-navbar-title>
  </super-navbar>




  <super-navigate location="example#eventinfo" ng-repeat="event in events" data-params-id="{{event.name}}">
    <button class="button button-block button-positive eventButton">
      <span class="eventtitle"><h3>{{event.name}}</h3></span>
      <span class="eventlocation"><h4>{{event.location}}</h4></span>
      <span class="eventdate"><h4>{{event.date}}</h4></span>
    </button>
  </super-navigate>

  



  <!-- <super-navigate location="example#eventinfo">
    <button class="button button-block button-positive myevent"><span class="eventtitle">Event1</span> <span class="eventdate">date1</span></button>
  </super-navigate>
  <super-navigate location="example#events">
    <button class="button button-block button-positive"> Events</button>
  </super-navigate>
  <super-navigate location="example#">
    <button class="button button-block button-positive"> Calendar</button>
  </super-navigate> -->


</div>
