<div class="padding" ng-controller="HomeController">

  <super-navbar>
    <super-navbar-title>
      Home
    </super-navbar-title>
  </super-navbar>

  
  <super-navigate location="example#directory">
    <button class="button button-block button-positive"> Directory</button>
  </super-navigate>
  <super-navigate location="example#events">
    <button class="button button-block button-positive"> Events</button>
  </super-navigate>
  <!-- <super-navigate location="example#">
    <button class="button button-block button-positive"> Calendar</button>
  </super-navigate> -->

</div>
