<div class="padding" ng-controller="TeamController">

  <super-navbar>
    <super-navbar-title>
      {{teamName}}
    </super-navbar-title>
  </super-navbar>



  <div class="contactList">
    <ul class="list">
      <li class="item member" ng-repeat="person in persons">
        <h3>{{person.name}}</h3>
      </li>
    </ul>
  </div>

  <!-- <div class="contactList">
    <ul class="list">
      <li class="item member">
        <h3>Jane Doe</h3>
      </li>
      <li class="item member item-icon-left">
        <h3>Jane Doe</h3>
      </li>
      <li class="item member">
        <h3>Jane Doe</h3>
      </li>
      <li class="item member">
        <h3>Jane Doe</h3>
      </li>
    </ul>
  </div> -->

</div>
