<div class="padding" ng-controller="TeamController">

  <super-navbar>
    <super-navbar-title>
      {{teamName}}
    </super-navbar-title>
  </super-navbar>



  <div class="contactList">
    <ul class="list">
      <li class="item member" ng-repeat="person in persons">
        <h2>{{person.name}} </h2>
        <h4> <a href="mailto:{{person.email}}">{{person.email}}</a> </h4>
        <h6> {{person.phone}}</h6>
      </li>


    </ul>
  </div>

  <!-- <div class="contactList">
    <ul class="list">
      <li class="item member">
        <h3>Jane Doe</h3>
      </li>
      <li class="item member item-icon-left">
        <h3>Jane Doe</h3>
      </li>
      <li class="item member">
        <h3>Jane Doe</h3>
      </li>
      <li class="item member">
        <h3>Jane Doe</h3>
      </li>
    </ul>
  </div> -->

</div>
