.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.super-navigate {
	text-align: left;
}

.eventtitle{
	text-align: left;
}

.eventdate{
	text-align: right;
}
.eventlocation{
	text-align: right;
}

.eventButton span h3{

	color:white !important;
}
.eventButton span h4{

	color:white !important;
}